/* botones cards Niveles */

.boton-link-n4 {
  padding: 0.5em;
  background-color: #faf1a0;
  color: black;
  border-radius: 0.25em;
}

.boton-link-n3 {
  padding: 0.5em;
  background-color: #83e092;
  color: black;
  border-radius: 0.25em;
}

.boton-link-n2 {
  padding: 0.5em;
  background-color: #ff8a89;
  color: black;
  border-radius: 0.25em;
}

.boton-link-n1 {
  padding: 0.5em;
  background-color: #88c8ff;
  color: black;
  border-radius: 0.25em;
}

.boton-link-diccionarios {
  padding: 0.5em;
  background-color: #ffce86;
  color: black;
  border-radius: 0.25em;
}
