/*portada*/

.portada {
  background-image: url("../imagenes/manekineko-mirror.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  article {
    height: 100%;
  }
}

.portada-JLPT {
  background-image: url("../imagenes/portadajlpt.jpeg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  article {
    height: 100%;
  }
  h1 {
    color: black;
  }
  leer-tituloTransparente {
    background-color: whitesmoke;
    display: flex;
    opacity: 0.5;
    display: block;
  }
}

.portada-N4 {
  background-image: url("../imagenes/portada4.jpeg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  article {
    height: 100%;
  }
  h1 {
    color: black;
  }
  leer-tituloTransparente {
    background-color: whitesmoke;
    display: flex;
    opacity: 0.5;
    display: block;
  }
}

.portada-N3 {
  background-image: url("../imagenes/portada3.jpeg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  article {
    height: 100%;
  }
  h1 {
    color: black;
  }
  leer-tituloTransparente {
    background-color: whitesmoke;
    display: flex;
    opacity: 0.5;
    display: block;
  }
}

.portada-N2 {
  background-image: url("../imagenes/LibrosJaponesN2.png");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  article {
    height: 100%;
  }
  h1 {
    color: black;
  }
  leer-tituloTransparente {
    background-color: whitesmoke;
    display: flex;
    opacity: 0.5;
    display: block;
  }
}

.portada-N1 {
  background-image: url("../imagenes/portada1.jpg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  article {
    height: 100%;
  }
  h1 {
    color: black;
  }
  leer-tituloTransparente {
    background-color: whitesmoke;
    display: flex;
    opacity: 0.5;
    display: block;
  }
}

.portada-leer {
  background-image: url("../imagenes/leer-bookexpress.jpeg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  article {
    height: 100%;
  }
  h1 {
    color: black;
  }
  leer-tituloTransparente {
    background-color: whitesmoke;
    display: flex;
    opacity: 0.5;
    display: block;
  }
}

.portada-diccionarios {
  background-image: url("../imagenes/PortadaDiccionarios.png");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  article {
    height: 100%;
  }
  h1 {
    color: black;
  }
  leer-tituloTransparente {
    background-color: whitesmoke;
    display: flex;
    opacity: 0.5;
    display: block;
  }
}

.portada-viajar {
  background-image: url("../imagenes/portada-viajar.jpg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  article {
    height: 100%;
  }
  h1 {
    color: black;
  }
  leer-tituloTransparente {
    background-color: whitesmoke;
    display: flex;
    opacity: 0.5;
    display: block;
  }
}

.portada-tecnicas {
  background-image: url("../imagenes/portada-tecnicas-sm.jpg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  article {
    height: 100%;
  }
  h1 {
    color: black;
  }
  leer-tituloTransparente {
    background-color: whitesmoke;
    display: flex;
    opacity: 0.5;
    display: block;
  }
}

.portada-mirar {
  background-image: url("../imagenes/japanese-doramas.png");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  article {
    height: 100%;
  }
  h1 {
    color: black;
  }
  leer-tituloTransparente {
    background-color: whitesmoke;
    display: flex;
    opacity: 0.5;
    display: block;
  }
}
