@import "_portadas";
@import "_botones";
@import "_niveles";
@import "_animaciones";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Japanese", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  color: rgb(68, 68, 68);
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 24px;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Noto Sans Japanese", sans-serif;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  line-height: 23.8px;
}

/* 
  img {
    max-width: 100%;
  }
 

section {
  padding: 5% 0;
}
*/
a {
  text-decoration: none;
  color: #2e2e2e;
}

ul {
  list-style: none;
}

/* header */
.icono {
  width: 50px;
}

/* Misc */

.card-footerBtn {
  background: transparent;
  border-top: 0px;
}

.intereses {
  margin: 0;
  padding: 0;
  li {
    width: 50px;
    margin-right: 1em;
  }
}

.disclaimer {
  background-color: rgb(233, 231, 231);
  padding: 20px;
}

/* Mapa Sitio */
.mapaSitio {
  background-color: rgb(233, 216, 233);
  padding: 20px;
  ul li li {
    list-style: square;
  }
}

/* Disclaimer */
.disclaimer {
  img {
    width: 50%;
    justify-self: center;
  }
  p {
    font-size: 0.9em;
  }
}

/* Estilos Footer */
footer {
  background-color: #2e2e2e;
  color: white;
  bottom: 0;
  position: relative;
  padding: 10px;
  margin-top: 10px;
  a {
    color: rgb(230, 230, 230);
  }
  &hover {
    color: rgb(148, 148, 148);
  }
}

.ul-style {
  list-style: square;
}

/* Rating Stars */
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/* Gallery */
.gallery {
  padding: 80px 0px;

  img {
    max-width: 100%;
    background: #fff;
    padding: 15px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}

#gallery-popup {
  modal-img {
    width: 100%;
  }
}

/* Viajar Grid */

/* Responsive layout - dos columnas */
@media screen and (max-width: 800px) {
  .grilla-column {
    flex: 50%;
    max-width: 50%;
    display: inline;
    img {
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}

@media screen and (max-width: 600px) {
  .grilla-column {
    flex: 100%;
    max-width: 100%;
  }
}
