@charset "UTF-8";
/*portada*/
.portada {
  background-image: url("../imagenes/manekineko-mirror.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portada article {
  height: 100%;
}

.portada-JLPT {
  background-image: url("../imagenes/portadajlpt.jpeg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portada-JLPT article {
  height: 100%;
}

.portada-JLPT h1 {
  color: black;
}

.portada-JLPT leer-tituloTransparente {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
  display: block;
}

.portada-N4 {
  background-image: url("../imagenes/portada4.jpeg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portada-N4 article {
  height: 100%;
}

.portada-N4 h1 {
  color: black;
}

.portada-N4 leer-tituloTransparente {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
  display: block;
}

.portada-N3 {
  background-image: url("../imagenes/portada3.jpeg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portada-N3 article {
  height: 100%;
}

.portada-N3 h1 {
  color: black;
}

.portada-N3 leer-tituloTransparente {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
  display: block;
}

.portada-N2 {
  background-image: url("../imagenes/portada2.png");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portada-N2 article {
  height: 100%;
}

.portada-N2 h1 {
  color: black;
}

.portada-N2 leer-tituloTransparente {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
  display: block;
}

.portada-N1 {
  background-image: url("../imagenes/portada1.jpg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portada-N1 article {
  height: 100%;
}

.portada-N1 h1 {
  color: black;
}

.portada-N1 leer-tituloTransparente {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
  display: block;
}

.portada-leer {
  background-image: url("../imagenes/leer-bookexpress.jpeg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portada-leer article {
  height: 100%;
}

.portada-leer h1 {
  color: black;
}

.portada-leer leer-tituloTransparente {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
  display: block;
}

.portada-diccionarios {
  background-image: url("../imagenes/PortadaDiccionarios.png");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portada-diccionarios article {
  height: 100%;
}

.portada-diccionarios h1 {
  color: black;
}

.portada-diccionarios leer-tituloTransparente {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
  display: block;
}

.portada-viajar {
  background-image: url("../imagenes/portada-viajar.jpg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portada-viajar article {
  height: 100%;
}

.portada-viajar h1 {
  color: black;
}

.portada-viajar leer-tituloTransparente {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
  display: block;
}

.portada-tecnicas {
  background-image: url("../imagenes/portada-tecnicas-sm.jpg");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portada-tecnicas article {
  height: 100%;
}

.portada-tecnicas h1 {
  color: black;
}

.portada-tecnicas leer-tituloTransparente {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
  display: block;
}

.portada-mirar {
  background-image: url("../imagenes/japanese-doramas.png");
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portada-mirar article {
  height: 100%;
}

.portada-mirar h1 {
  color: black;
}

.portada-mirar leer-tituloTransparente {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
  display: block;
}

/* botones cards Niveles */
.boton-link-n4 {
  padding: 0.5em;
  background-color: #faf1a0;
  color: black;
  border-radius: 0.25em;
}

.boton-link-n3 {
  padding: 0.5em;
  background-color: #83e092;
  color: black;
  border-radius: 0.25em;
}

.boton-link-n2 {
  padding: 0.5em;
  background-color: #ff8a89;
  color: black;
  border-radius: 0.25em;
}

.boton-link-n1 {
  padding: 0.5em;
  background-color: #88c8ff;
  color: black;
  border-radius: 0.25em;
}

.boton-link-diccionarios {
  padding: 0.5em;
  background-color: #ffce86;
  color: black;
  border-radius: 0.25em;
}

/* Colores */
.alert-warningPink {
  color: #d63384;
  background-color: #f1dee7;
  border-color: #d63384;
}

/* Niveles */
.listaAptitudesJLPT {
  list-style: square;
}

.JLPTfaq {
  font-size: 16px;
  font-weight: lighter;
}

/* JLPT N4-5 */
.curiosidadesLetra {
  font-size: 14px;
}

.backgroundN4-5 {
  background-color: #f8f1ae;
}

.seccionCheckboxNivelesN4-5 {
  background-color: #f8f1ae;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.seccionCheckboxNivelesN4-5 h4 {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  word-spacing: 0px;
}

.seccionCheckboxNivelesN4-5 p {
  color: #7b7432;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* Letras en Mayuscula */
.ParrafoMayusculaN4-5 {
  color: #7b7432;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

.consejosN4-5 {
  background-color: #f8f1ae;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN4-5-2 {
  border: #f8f1ae solid;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN4-5-2 h4 {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  word-spacing: 0px;
}

.consejosN4-5-2-mayuscula {
  color: #7b7432;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* JLPT N3 */
.seccionCheckboxNivelesN3 {
  background-color: #c7ebbe;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.seccionCheckboxNivelesN3 h4 {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  word-spacing: 0px;
}

.seccionCheckboxNivelesN3 p {
  color: #327b70;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* Letras en Mayuscula */
.ParrafoMayusculaN3 {
  color: #327b70;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

.consejosN3 {
  background-color: #c7ebbe;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN3-2 {
  border: #c7ebbe solid;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN3-2 h4 {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  word-spacing: 0px;
}

.consejosN3-2-mayuscula {
  color: #327b70;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* Letra en Minuscula N3 */
.consejosN3-2-minuscula {
  color: #327b70;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  word-spacing: 0px;
  text-align: left;
}

/* JLPT N2 */
.seccionCheckboxNivelesN2 {
  background-color: #fbe6e3;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.seccionCheckboxNivelesN2 h4 {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  word-spacing: 0px;
}

.seccionCheckboxNivelesN2 p {
  color: #7b3232;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* Letras en Mayuscula */
.ParrafoMayusculaN2 {
  color: #7b3232;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #7b3432;
  text-decoration: none solid #7b3432;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* Letra en Minuscula N2 */
.consejosN2-2-minuscula {
  color: #7b3232;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  word-spacing: 0px;
  text-align: left;
}

.consejosN2 {
  background-color: #fbe6e3;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN2-2 {
  border: #ffe5e1 solid;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN2-2-mayuscula {
  color: #7b3232;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* JLPT N1 */
.seccionCheckboxNivelesN1 {
  background-color: #e3f1fb;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.seccionCheckboxNivelesN1 h4 {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  word-spacing: 0px;
}

.seccionCheckboxNivelesN1 p {
  color: #324c7b;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

.consejosN1 {
  background-color: #e3f1fb;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN1-2 {
  border: #e3f1fb solid;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN1-2-mayuscula {
  color: #324c7b;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* seccion Leer */
.seccionCheckboxleer {
  background-color: #e2d4eb;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.seccionCheckboxleer h4 {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  word-spacing: 0px;
}

.seccionCheckboxleer p {
  color: #324c7b;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #4c327b;
  text-decoration: none solid #4c327b;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

.consejosleer {
  background-color: #e2d4eb;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosleer-2 {
  border: #e2d4eb solid;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosleer-2-mayuscula {
  color: #4c327b;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #4c327b;
  text-decoration: none solid #4c327b;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

.consejosleer-2-mayuscula2 {
  color: #4c327b;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #4c327b;
  text-decoration: none solid #4c327b;
  word-spacing: 0px;
  text-align: left;
}

.background-leer {
  background-color: rgba(246, 236, 252, 0.644);
  border-radius: 5%;
}

/* Diccionarios */
.dicc-mayuscula {
  color: #fa568d;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #4c327b;
  text-decoration: none solid #4c327b;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

.dicc-minuscula {
  color: #fa568d;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 24px;
  -webkit-text-decoration: none solid #4c327b;
  text-decoration: none solid #4c327b;
  text-transform: none;
  word-spacing: 0px;
  text-align: left;
}

/* Diccionarios */
.BoxReview {
  background-color: #fdf1e3;
  border: 1px solid #c9c9c9;
}

.BoxReview2 {
  background-color: #fffaf5;
  border: 1px solid #f7ca50;
  padding: 10px;
}

.BoxReview2 p {
  font-size: 15px;
  margin: 0;
}

/* Viajar */
/* Animaciones */
/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
  background-color: #5a5959;
  color: white;
}

/* Float */
.hvr-float {
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans Japanese", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 24px;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Noto Sans Japanese", sans-serif;
  background-color: white;
  height: 100vh;
  line-height: 23.8px;
}

/* 
  img {
    max-width: 100%;
  }
 

section {
  padding: 5% 0;
}
*/
a {
  text-decoration: none;
  color: #2e2e2e;
}

ul {
  list-style: none;
}

/* header */
.icono {
  width: 50px;
}

/* Misc */
.card-footerBtn {
  background: transparent;
  border-top: 0px;
}

.intereses {
  margin: 0;
  padding: 0;
}

.intereses li {
  width: 50px;
  margin-right: 1em;
}

.disclaimer {
  background-color: #e9e7e7;
  padding: 20px;
}

/* Mapa Sitio */
.mapaSitio {
  background-color: #e9d8e9;
  padding: 20px;
}

.mapaSitio ul li li {
  list-style: square;
}

/* Disclaimer */
.disclaimer img {
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.disclaimer p {
  font-size: 0.9em;
}

/* Estilos Footer */
footer {
  background-color: #2e2e2e;
  color: white;
  bottom: 0;
  position: relative;
  padding: 10px;
  margin-top: 10px;
}

footer a {
  color: #e6e6e6;
}

footerhover {
  color: #949494;
}

.ul-style {
  list-style: square;
}

/* Rating Stars */
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: "★ ";
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/* Gallery */
.gallery {
  padding: 80px 0px;
}

.gallery img {
  max-width: 100%;
  background: #fff;
  padding: 15px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#gallery-popup modal-img {
  width: 100%;
}

/* Viajar Grid */
/* Responsive layout - dos columnas */
@media screen and (max-width: 800px) {
  .grilla-column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
    display: inline;
  }
  .grilla-column img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .grilla-column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=estilos.css.map */