/* ejercicio SASS II */
.box-uno {
  background-color: #4285f4;
  width: 360px;
  height: 30px;
}

.box-dos {
  background-color: #68d84c;
  width: 310px;
}

/* mixins */
.box {
  height: 500px;
  width: 500px;
  background-color: #faf1a0;
}

.box2 {
  height: 100px;
  width: 100px;
  background-color: #68d84c;
}

/* */
.prueba-1 {
  width: 3em;
  background-color: #4285f4;
  border: 1px solid salmon;
  color: white;
}

.prueba-2 {
  width: 6em;
  background-color: #4285f4;
  border: 1px solid salmon;
  color: white;
}

.prueba-3 {
  width: 9em;
  background-color: #4285f4;
  border: 1px solid salmon;
  color: white;
}

.prueba-4 {
  width: 12em;
  background-color: #4285f4;
  border: 1px solid salmon;
  color: white;
}

/* botones cards Niveles */
.boton-link-n4 {
  padding: 0.5em;
  background-color: #faf1a0;
  color: black;
  border-radius: 0.25em;
}

.boton-link-n3 {
  padding: 0.5em;
  background-color: #83e092;
  color: black;
  border-radius: 0.25em;
}

.boton-link-n2 {
  padding: 0.5em;
  background-color: #ff8a89;
  color: black;
  border-radius: 0.25em;
}

.boton-link-n1 {
  padding: 0.5em;
  background-color: #88c8ff;
  color: black;
  border-radius: 0.25em;
}

.boton-link-diccionarios {
  padding: 0.5em;
  background-color: #ffce86;
  color: black;
  border-radius: 0.25em;
}

/* Niveles */
.listaAptitudesJLPT {
  list-style: square;
}

.JLPTfaq {
  font-size: 16px;
  font-weight: lighter;
}

/* JLPT N4-5 */
.backgroundN4-5 {
  background-color: #faf1a0;
}

.seccionCheckboxNivelesN4-5 {
  background-color: #faf1a0;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.seccionCheckboxNivelesN4-5 h4 {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  word-spacing: 0px;
}

.seccionCheckboxNivelesN4-5 p {
  color: #7b7432;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* Letras en Mayuscula */
.ParrafoMayusculaN4-5 {
  color: #7b7432;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

.consejosN4-5 {
  background-color: #faf1a0;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN4-5-2 {
  border: #faf1a0 solid;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN4-5-2 h4 {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  word-spacing: 0px;
}

.consejosN4-5-2-mayuscula {
  color: #7b7432;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* JLPT N3 */
.seccionCheckboxNivelesN3 {
  background-color: #e9f6f4;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.seccionCheckboxNivelesN3 h4 {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  word-spacing: 0px;
}

.seccionCheckboxNivelesN3 p {
  color: #327b70;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* Letras en Mayuscula */
.ParrafoMayusculaN3 {
  color: #327b70;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

.consejosN3 {
  background-color: #e9f6f4;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN3-2 {
  border: #e9f6f4 solid;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN3-2-mayuscula {
  color: #327b70;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* Letra en Minuscula N3 */
.consejosN3-2-minuscula {
  color: #327b70;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  word-spacing: 0px;
  text-align: left;
}

/* JLPT N2 */
.seccionCheckboxNivelesN2 {
  background-color: #fbe6e3;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.seccionCheckboxNivelesN2 h4 {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  word-spacing: 0px;
}

.seccionCheckboxNivelesN2 p {
  color: #7b3232;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* Letras en Mayuscula */
.ParrafoMayusculaN2 {
  color: #7b3232;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #7b3432;
  text-decoration: none solid #7b3432;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* Letra en Minuscula N2 */
.consejosN2-2-minuscula {
  color: #7b3232;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  word-spacing: 0px;
  text-align: left;
}

.consejosN2 {
  background-color: #fbe6e3;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN2-2 {
  border: #ffe5e1 solid;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN2-2-mayuscula {
  color: #7b3232;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* JLPT N1 */
.seccionCheckboxNivelesN1 {
  background-color: #e3f1fb;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.seccionCheckboxNivelesN1 h4 {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  word-spacing: 0px;
}

.seccionCheckboxNivelesN1 p {
  color: #324c7b;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

.consejosN1 {
  background-color: #e3f1fb;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN1-2 {
  border: #e3f1fb solid;
  padding: 1.5em;
  border-radius: 5%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.consejosN1-2-mayuscula {
  color: #324c7b;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-text-decoration: none solid #327b70;
  text-decoration: none solid #327b70;
  text-transform: uppercase;
  word-spacing: 0px;
  text-align: left;
}

/* Animaciones */
/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
  background-color: #5a5959;
  color: white;
}

/* Float */
.hvr-float {
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans Japanese", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  color: #444444;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 24px;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Noto Sans Japanese", sans-serif;
  background-color: white;
  height: 100vh;
  line-height: 23.8px;
}

/* 
  img {
    max-width: 100%;
  }
 

section {
  padding: 5% 0;
}
*/
a {
  text-decoration: none;
  color: #2e2e2e;
}

ul {
  list-style: none;
}

/* header */
.icono {
  width: 50px;
}

/* Misc */
.card-footerBtn {
  background: transparent;
  border-top: 0px;
}

/*portada*/
.portada {
  background-image: url("../imagenes/manekineko-mirror.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portada article {
  height: 100%;
}

.intereses {
  margin: 0;
  padding: 0;
}

.intereses li {
  width: 50px;
  margin-right: 1em;
}

.disclaimer {
  background-color: #e9e7e7;
  padding: 20px;
}

/* Mapa Sitio */
.mapaSitio {
  background-color: #e9d8e9;
  padding: 20px;
}

.mapaSitio ul li li {
  list-style: square;
}

/* Disclaimer */
.disclaimer img {
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.disclaimer p {
  font-size: 0.9em;
}

/* Estilos Footer */
footer {
  background-color: #2e2e2e;
  color: white;
  bottom: 0;
  position: relative;
  padding: 10px;
  margin-top: 10px;
}

footer a {
  color: #e6e6e6;
}

footerhover {
  color: #949494;
}

/* Seccion JLPT */
.portadaJLPT {
  background-image: url("../imagenes/LibrosJapones_overview_small_bright.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  opacity: 45%;
}

.portadaJLPTparrafo {
  background-color: whitesmoke;
  color: black;
  opacity: 95%;
}
/*# sourceMappingURL=estilos.css.map */