* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: whitesmoke;
  /* font-family: "Lato", sans-serif; 
  font-family: Tahoma, Verdana, Geneva, sans-serifs; */
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
  line-height: 1.5;
  height: 100%;
}

p {
  margin 0 0 1.25em;
  padding: 0;
  line-height: 1.6;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  max-width: 100%;
}

/* NAV BAR */
nav ul li {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  margin-top: 25px;
  margin-right: 0px;
  margin-left: 20px;
}

.navMain {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Nav Bar - Color de los diferentes niveles */
a {
  outline: none;
  text-decoration: none;
}
a:link {
  color: white;
}

a:visited {
  color: whitesmoke;
}

#homeMenuColorTitle {
  color: black;
}

#homeMenuColor {
  background-color: rgb(194, 194, 194);
}

#nivel4MenuColor {
  background-color: #f7ea41;
}

#nivel3MenuColor {
  background-color: #ffce86;
}

#nivel2MenuColor {
  background-color: #ff8a89;
}

#nivel1MenuColor {
  background-color: #88c8ff;
}

#tecnicasMenuColor {
  background-color: yellowgreen;
}

#sobreElSitioMenuColor {
  background-color: rgb(174, 128, 248);
}

/* Float - NO LO PUEDO USAR */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


/* Overview Main Content */

/* Titulo principal Index */
.inner {
  margin: 0 auto;
  width: 100%;
}

.alignCenter {
  text-align: center;
}

h2 {
  position: relative;
  margin-bottom: 1.5em;
  border: none;
  font-weight: normal;
  font-size: 212.5%;
}

h2.alignCenter:before {
  right: 0;
  margin: auto;
}

h2:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 120px;
  height: 3px;
  background-color: #000;
}

.layoutItem {
  margin-bottom: 3em;
  display: flex;
  list-style: none;
  list-style-type: none;
  flex-direction: row;
  width: 100%;
  margin: 0 0 1em;
  padding: 0;
  -webkit-flex-wrap: wrap;
}

/* Contenido expand 1 */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.home-section-overview {
  background-color: white;
  margin: 5px 5px 5px 5px;
  padding: 20px;
}

/* Estilo de fuente titulo */
.titleOverview {
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 0 0 30%;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN",
    HGS明朝E, メイリオ, Meiryo, serif;
}

.pht {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 30%;
  margin: 0;
  padding: 0;
}
.pht_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.txt {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  min-width: 30%;
  margin: auto;
  padding: 4em 2em;
  background: rgba(255, 255, 277, 0.7);
  line-height: 1.2;
  text-align: center;
  align-items: center;
}

.Overview1 .titleOverview .txt span.num {
  display: block;
  margin: 0;
  padding: 0.1em 0 0;
  font-weight: 270%;
  line-height: 1.1;
  text-align: center;
}

.Overview1 .titleOverview .txt strong {
  display: block;
  width: 100%;
  padding: 0.15em 0 0;
  font-weight: normal;
  font-size: 187.5%;
}

.Overview1 .titleOverview .txt strong span {
  display: block;
  width: 100%;
  padding: 1em 0 0;
  font-family: "游ゴシック", "Yu Gothic", "Meiryo", "Verdana",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka",
    "ＭＳ Ｐゴシック", "sans-serif";
  font-size: 40%;
}

.p_font {
  line-height: 1.6;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
}

/* Contenido de la pagina: Derecha */
#contentRight {
  margin: 5px 5px 5px 5px;
  padding: 20px;
}

.contentRight_H3 {
  padding: 10px;
  justify-content: center;
}

.twitterTL {
  padding: 10px;
  width: 270px;
  display: flex;
}

/* Footer */
footer {
  bottom: 0;
  position: relative;
  padding: 10px;
  margin-top: 10px;
  width: fit-content;
}

.container {
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr 1.6fr 0.4fr;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  grid-template-areas:
    "nav nav nav"
    "home-section-overview home-section-overview contentRight"
    "footer footer footer";
}

nav {
  grid-area: nav;
}

.home-section-overview {
  grid-area: home-section-overview;
  justify-content: space-around;
  justify-items: center;
  align-items: stretch;
}

.contentRight {
  grid-area: contentRight;
  align-self: stretch;
  align-items: center;
}

footer {
  grid-area: footer;
}

/* Pantalla mobile hasta 425 px 4 rows */
@media only screen and (max-width: 424px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: 0.2fr 1fr auto 1fr;
    grid-template-areas:
      "nav"
      "home-section-overview"
      "contentRight"
      "footer";
  }

  .home-section-overview {
    width: 100%;
  }

  .navMain {
    width: 100px;
    height: auto;
  }

  .navMain {
    display: inline-block;
  }
}

@media only screen and (max-width: 570px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: 0.2fr 1fr auto 1fr;
    grid-template-areas:
      "nav"
      "home-section-overview"
      "contentRight"
      "footer";
  }

  .home-section-overview {
    width: 100%;
  }

  .navMain {
    width: 100px;
    height: auto;
  }
}

/* Codigo Especifico de Pagina N2 */

.container_nivel2 {
  display: grid;
  min-height: 100%;
  grid-template-columns: 2fr 0.4fr;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  grid-template-areas:
    "nav nav"
    "nivel2-section-overview contentRight"
    "footer footer";
}

.nivel2-section-overview {
  grid-area: nivel2-section-overview;
  justify-content: space-around;
  justify-items: center;
  align-items: stretch;
}

.grid_fotos_nivel2 {
  display: grid;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "foto1 foto2 foto 3 foto4 foto5"
    "foto6 foto7 foto8 foto9 foto10";
}

.foto1 {
  grid-area: foto1;
  justify-self: center;
}

.foto2 {
  grid-area: foto2;
  justify-self: center;
}

.foto3 {
  grid-area: foto3;
  justify-self: center;
}

.foto4 {
  grid-area: foto4;
  justify-self: center;
}

.foto5 {
  grid-area: foto5;
  justify-self: center;
}

.foto6 {
  grid-area: foto6;
  justify-self: center;
}

.foto7 {
  grid-area: foto7;
  justify-self: center;
}

.foto8 {
  grid-area: foto8;
  justify-self: center;
}

.foto9 {
  grid-area: foto9;
  justify-self: center;
}

.foto10 {
  grid-area: foto10;
  justify-self: center;
}
